<% if user_signed_in? %>
    <h1>Welcome back, <strong><%= current_user.username %></strong>.</h1>

    <h2>Listing uploads</h2>
<table border='1'>
  <tr>
    <th>File name</th>
    <th>Downloaded on</th>
    <th>Total revenue</th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.file_name %></td>
    <td><%= upload.updated_at %></td>
    <td><%= number_to_currency upload.revenue %></td>
    <td><%= link_to 'Show', upload %></td>
    <td><%= link_to 'Remove', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<% else %>
  <h1>Welcome.</h1>
    <h3>Please, sign in to be able to add a new file.</h3>
<% end %>

<button><%= link_to 'New Upload', new_upload_path %></button>

<br />